Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Description: [[description]]
Maintainer: IIG Telematics University of Freiburg<swat@iig.uni-freiburg.de>
Uploaders: Julius Holderer<holderer@iig.uni-freiburg.de>
           Adrian Lange<lange@iig.uni-freiburg.de>
           Thomas Stocker<stocker@iig.uni-freiburg.de>
           Richard Zahoransky<zahoransky@iig.uni-freiburg.de>